<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Prediction History - Diabetes Prediction & Advisory Tool</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="GlucAware&Advisory" width="350px" height="80px" id="logo">
            <div class="dashboard">
                <a href="{{ url_for('home') }}" class="button {% if request.path == '/' %}active{% endif %}">Home</a>
                <a href="{{ url_for('questionnaire') }}" class="button {% if request.path == '/questionnaire' %}active{% endif %}">Test</a>
                {% if not session.get('user_id') %}
                    <a href="{{ url_for('login') }}" class="log_btn {% if request.path == '/login' %}active{% endif %}">Sign In</a>
                {% else %}
                    <a href="{{ url_for('history') }}" class="button {% if request.path == '/history' %}active{% endif %}">History</a>
                    <a href="{{ url_for('profile') }}" class="button {% if request.path == '/profile' %}active{% endif %}">Profile</a>
                    <a href="{{ url_for('logout') }}" class="log_btn">Sign Out</a>
                {% endif %}
            </div>
        </header>

        <div class="profile_container">
            <h2>Prediction History</h2>
            {% if predictions %}
                <table>
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Prediction Result</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prediction in predictions %}
                            <tr>
                                <td>{{ prediction.timestamp }}</td>
                                <td>{{ prediction.prediction_result }}</td>
                                <td>
                                    <ul>
                                        <li>Age: {{ prediction.age }}</li>
                                        <li>Blood Pressure: {{ prediction.blood_pressure }}</li>
                                        <li>BMI: {{ prediction.bmi }}</li>
                                        <li>HbA1c Level: {{ prediction.hba1c_level }}</li>
                                        <li>Blood Sugar Level: {{ prediction.blood_sugar_level }}</li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No prediction history found.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>