<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>Profile - Diabetes Prediction & Advisory Tool</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="GlucAware&Advisory" width="350px" height="80px" id="logo">
            <div class="dashboard">
                <a href="{{ url_for('home') }}" class="button {% if request.path == '/' %}active{% endif %}">Home</a>
                <a href="{{ url_for('questionnaire') }}" class="button {% if request.path == '/questionnaire' %}active{% endif %}">Test</a>
                {% if not session.get('user_id') %}
                    <a href="{{ url_for('login') }}" class="log_btn {% if request.path == '/login' %}active{% endif %}">Sign In</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="button {% if request.path == '/login' %}active{% endif %}">History</a>
                    <a href="{{ url_for('profile') }}" class="button {% if request.path == '/profile' %}active{% endif %}">Profile</a>
                    <a href="{{ url_for('logout') }}" class="log_btn">Sign Out</a>
                {% endif %}
            </div>
        </header>

        <div class="profile_container">
            <!-- Personalized Welcome Message -->
            <h2>Welcome, {{ user.username if user.username else "User" }}</h2>

            <!-- User Details -->
            <div class="user-details">
                <p><strong>Name:</strong> {{ user.username if user.username else "Not specified" }}</p>
                <p><strong>Email:</strong> {{ user.email if user.email else "Not specified" }}</p>
                <p><strong>Date of Birth:</strong> {{ user.dob if user.dob else "Not specified" }}</p>
                <p><strong>Age:</strong> {{ age if age else "Not specified" }}</p>
                <p><strong>Gender:</strong> {{ user.gender[0] if user.gender else "Not specified" }}</p>
                <p><strong>Medical History:</strong> {{ user.medical_history | join(', ') if user.medical_history else "No medical history provided." }}</p>
            </div>
        </div>
    </div>
</body>
</html>