<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css2.css') }}">
</head>
<body>
    <div class="header_container">
        <header class="header">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="GlucAware&Advisory" width="350px" height="80px" id="logo">
    
            <div class="dashboard">
                <a href="{{ url_for('home') }}" class="button {% if request.path == '/' %}active{% endif %}">Home</a>
                <a href="{{ url_for('questionnaire') }}" class="button {% if request.path == '/questionnaire' %}active{% endif %}">Test</a>
                <a href="{{ url_for('login') }}" class="button {% if request.path == '/login' %}active{% endif %}">History</a>
                <a href="{{ url_for('login') }}" class="button {% if request.path == '/login' %}active{% endif %}">Profile</a>
            </div>
        </header>
    </div>
    <br>
    <h1><center>Diabetes Prediction Questionnaire</center></h1>
    <center>
        <form id="questionnaireForm" onsubmit="handleFormSubmit(event)">
            <div class="field-section active first-field">
                <label><b>Shall we start this questionnaire?</b></label>
                <br>
                <div class="navigation-buttons">
                    <input type="button" value="Start Questionnaire" onclick="nextField()">
                </div>
            </div>
            
            <div class="field-section">
                <label for="gender"><b>Gender:</b></label>
                <select id="gender" name="gender" required>
                    <option value="" disabled selected>Select Here</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Prefer Not To Say">Prefer Not To Say</option>
                </select>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="age"><b>Age:</b></label>
                <input type="number" id="age" name="age" min="1" max="120" required>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="bp_sys"><b>Blood Pressure (Systolic mm Hg / Diastolic mm Hg):</b></label>
                <div class="flex-inputs">
                    <input type="number" id="bp_sys" name="bp_sys" placeholder="Systolic" max="200" required>
                    <input type="number" id="bp_dia" name="bp_dia" placeholder="Diastolic" max="150" required>
                </div>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="heartdisease"><b>Do you currently have heart disease?</b></label>
                <select id="heartdisease" name="heartdisease" required>
                    <option value="" disabled selected>Select Here</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="smokehis"><b>Do you have a smoking history?</b></label>
                <select id="smokehis" name="smokehis" required>
                    <option value="" disabled selected>Select Here</option>
                    <option value="No Info">No Info</option>
                    <option value="Never">Never</option>
                    <option value="Former">Former</option>
                    <option value="Current">Current</option>
                    <option value="Not Current">Not Current</option>
                    <option value="Ever">Ever</option>
                </select>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="height"><b>Height(cm):</b></label>
                <input type="number" id="height" name="height" min="1" required>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>
            
            <div class="field-section">
                <label for="weight"><b>Weight(kg):</b></label>
                <input type="number" id="weight" name="weight" min="1" step="0.1" required>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="HbA1c"><b>HbA1c Level(%):</b></label>
                <input type="number" id="HbA1c" name="HbA1c" min="1" max="10" step="0.1" required>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="button" value="Next" onclick="nextField()">
                </div>
            </div>

            <div class="field-section">
                <label for="bloodsugar"><b>Last Blood Sugar Level(mg/dL):</b></label>
                <input type="text" id="bloodsugar" name="bloodsugar" placeholder="Enter blood sugar level" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" required>
                <div class="navigation-buttons">
                    <input type="button" value="Back" onclick="previousField()">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </center>

    <div id="resultsSection" class="hidden">
        <div class="container">
            <div class="results-section">
                <h1>Submitted Results</h1>
                <ul>
                    <li><b>Gender:</b> <span id="genderResult"></span></li>
                    <li><b>Age:</b> <span id="ageResult"></span></li>
                    <li><b>Blood Pressure (Systolic / Diastolic):</b> <span id="bpResult"></span></li>
                    <li><b>Heart Disease:</b> <span id="heartDiseaseResult"></span></li>
                    <li><b>Smoking History:</b> <span id="smokeHistoryResult"></span></li>
                    <li><b>Height:</b> <span id="heightResult"></span></li>
                    <li><b>Weight:</b> <span id="weightResult"></span></li>
                    <li><b>HbA1c Level:</b> <span id="HbA1cResult"></span></li>
                    <li><b>Last Blood Sugar Level:</b> <span id="bloodSugarResult"></span></li>
                </ul>
            </div>

            <div class="bmi-section">
                <h1>Calculated Results</h1>
                <p><b>Your BMI:</b> <span id="bmiresults"></span> (<span id="bmilevel"></span>)</p>
                <p><b>Hypertension Status:</b> <span id="hypertensionResult"></span></p>
                <p><b>Diabetes Prediction:</b> <span id="diabetesPrediction"></span></p>
            </div>
        </div>
        <div class="advice-section">
            <h1>Advice based on results</h1>
            <p><b>Blood Pressure Advice:</b> <span id="bpAdvice"></span></p>
            <p id="heartDiseaseSection" style="display:none;">
                <b>Heart Disease Advice:</b> <span id="heartAdvice"></span>
            </p>
            <p><b>Smoking History Advice:</b> <span id="smokeAdvice"></span></p>
            <p><b>BMI Advice:</b> <span id="bmiAdvice"></span></p>
            <p><b>Blood Sugar Advice:</b> <span id="bloodSugarAdvice"></span></p>
        </div>
    </div>

    <script>
        let currentFieldIndex = 0;
        const fields = document.querySelectorAll('.field-section');

        function nextField() {
            const requiredInputs = fields[currentFieldIndex].querySelectorAll('[required]');
            let allValid = true;
            requiredInputs.forEach(input => {
                if (!input.checkValidity()) {
                    allValid = false;
                    input.reportValidity();
                }
            });

            if (allValid && currentFieldIndex < fields.length - 1) {
                fields[currentFieldIndex].classList.remove('active');
                currentFieldIndex++;
                fields[currentFieldIndex].classList.add('active');
            }
        }

        function previousField() {
            if (currentFieldIndex > 0) {
                fields[currentFieldIndex].classList.remove('active');
                currentFieldIndex--;
                fields[currentFieldIndex].classList.add('active');
            }
        }

        async function handleFormSubmit(event) {
            event.preventDefault();
            const form = document.getElementById('questionnaireForm');
            form.classList.add('fade-out');
            setTimeout(async () =>{
                const formData = new FormData(form);
                const gender = formData.get('gender');
                const age = parseInt(formData.get('age'), 10);
                const bpSys = parseInt(formData.get('bp_sys'), 10);
                const bpDia = parseInt(formData.get('bp_dia'), 10);
                const heartDisease = formData.get('heartdisease') === 'Yes' ? 1 : 0;
                const smokeHistory = formData.get('smokehis');
                const height = parseInt(formData.get('height'), 10);
                const weight = parseFloat(formData.get('weight'));
                const HbA1c = parseFloat(formData.get('HbA1c'));
                const bloodSugar = parseInt(formData.get('bloodsugar'), 10);

                // Display submitted results
                document.getElementById('genderResult').innerText = gender;
                document.getElementById('ageResult').innerText = age;
                document.getElementById('bpResult').innerText = `${bpSys} / ${bpDia}`;
                document.getElementById('heartDiseaseResult').innerText = heartDisease ? 'Yes' : 'No';
                document.getElementById('smokeHistoryResult').innerText = smokeHistory;
                document.getElementById('heightResult').innerText = height;
                document.getElementById('weightResult').innerText = weight;
                document.getElementById('HbA1cResult').innerText = HbA1c;
                document.getElementById('bloodSugarResult').innerText = bloodSugar;

                // Calculate and display BMI
                const heightInMeters = height / 100;    
                const bmi = (weight / (heightInMeters ** 2)).toFixed(2);
                document.getElementById('bmiresults').innerText = bmi;

                let bmicat = '';
                let bmiColor = '#4CAF50';
                if (bmi < 18.5) {
                    bmicat = 'Underweight';
                    bmiColor = '#FFD700';
                } else if (bmi >= 18.5 && bmi <= 24.9) {
                    bmicat = 'Normal Weight';
                } else if (bmi > 24.9 && bmi <= 29.9) {
                    bmicat = 'Overweight';
                    bmiColor = '#FFA500';
                } else {
                    bmicat = 'Obese';
                    bmiColor = '#f44336';
                }
                document.getElementById('bmilevel').innerText = bmicat;
                document.getElementById('bmiresults').style.color = bmiColor;
                document.getElementById('bmilevel').style.color = bmiColor;

                // Determine and display Hypertension Status
                let hypertensionStatus = '';
                let hypertensionColor = '#4CAF50';
                if (bpSys > 130 || bpDia > 80) {
                    hypertensionStatus = 'Hypertension Detected';
                    hypertensionColor = '#f44336';
                } else {
                    hypertensionStatus = 'No Hypertension';
                }
                document.getElementById('hypertensionResult').innerText = hypertensionStatus;
                document.getElementById('hypertensionResult').style.color = hypertensionColor;

                // Display personalized advice
                displayAdvice(bpSys, bpDia, heartDisease, smokeHistory, bmi, bloodSugar);

                // Prepare features for prediction
                const hypertension = (bpSys > 130 || bpDia > 80) ? 1 : 0;
                const feature6 = gender === 'Female' ? 1 : 0;
                const is_male = gender === 'Male' ? 1 : 0;
                const smokeMappings = {
                    'No Info': [1, 0, 0, 0, 0, 0],
                    'Current': [0, 1, 0, 0, 0, 0],
                    'Ever': [0, 0, 1, 0, 0, 0],
                    'Former': [0, 0, 0, 1, 0, 0],
                    'Never': [0, 0, 0, 0, 1, 0],
                    'Not Current': [0, 0, 0, 0, 0, 1],
                };
                const smokeValues = smokeMappings[smokeHistory] || [0, 0, 0, 0, 0, 0];

                // Prepare data with feature0 to feature13
                const features = {
                    'feature0': age,
                    'feature1': hypertension,
                    'feature2': heartDisease,
                    'feature3': bmi,
                    'feature4': HbA1c,
                    'feature5': bloodSugar,
                    'feature6': feature6,
                    'feature7': is_male,
                    'feature8': smokeHistory === 'No Info' ? 1 : (smokeHistory === 'Current' ? 2 : (smokeHistory === 'Ever' ? 3 :
                        (smokeHistory === 'Former' ? 4 : (smokeHistory === 'Never' ? 5 : (smokeHistory === 'Not Current' ? 6 : 0))))),
                    'feature9': smokeHistory === 'No Info' ? 1 : 0,
                    'feature10': smokeHistory === 'Never' ? 1 : 0,
                    'feature11': smokeHistory === 'Ever' ? 1 : 0,
                    'feature12': smokeHistory === 'Former' ? 1 : 0,
                    'feature13': smokeHistory === 'Not Current' ? 1 : 0,
                };

                // Send POST request to /predict
                try {
                    const response = await fetch('/predict', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        body: new URLSearchParams(features),
                    });

                    const data = await response.json();
                    if (response.ok) {
                        document.getElementById('diabetesPrediction').innerText = data.prediction;
                    } else {
                        document.getElementById('diabetesPrediction').innerText = 'Error during prediction.';
                    }
                } catch (error) {
                    console.error('Error:', error);
                    document.getElementById('diabetesPrediction').innerText = 'Error during prediction.';
                }

                // Hide the form and show results
                document.getElementById('questionnaireForm').classList.add('hidden');
                const resultsSection = document.getElementById('resultsSection');
                resultsSection.classList.remove('hidden');
                resultsSection.classList.add('fade-in');
            }, 800);
        }

        function displayAdvice(bpSys, bpDia, heartDisease, smokeHistory, bmi, bloodSugar) {
                let bpAdvice = '';
                let bpColor = '#333';
                if (parseInt(bpSys) > 130 || parseInt(bpDia) > 80) {
                    bpAdvice = 'Your blood pressure is high. Consider reducing salt intake, staying active, and consulting your healthcare provider for personalized guidance.';
                    bpColor = '#f44336';
                } else {
                    bpAdvice = 'Your blood pressure is within a normal range. Keep up the healthy habits to maintain it.';
                    bpColor = '#4CAF50';
                }

                let smokeAdvice = '';
                let smokeColor = '#333';
                switch (smokeHistory.toLowerCase()) {
                    case 'no info':
                        smokeAdvice = 'Smoking history information is not available. Please consider providing accurate details for more personalized advice.';
                        smokeColor = '#777';
                        break;
                    case 'never':
                        smokeAdvice = 'Great job avoiding smoking! Keep it up for your long-term health.';
                        smokeColor = '#4CAF50';
                        break;
                    case 'former':
                        smokeAdvice = 'It\'s great that you quit smoking! Continuing to stay smoke-free will significantly benefit your health over time.';
                        smokeColor = '#4CAF50';
                        break;
                    case 'current':
                        smokeAdvice = 'Smoking is harmful to your health. Quitting smoking can greatly improve your overall health. Consider seeking support through programs or medical advice.';
                        smokeColor = '#f44336';
                        break;
                    case 'not current':
                        smokeAdvice = 'You\'ve stopped smoking, which is a positive step for your health! It\'s important to stay smoke-free for long-term well-being.';
                        smokeColor = '#4CAF50';
                        break;
                    case 'ever':
                        smokeAdvice = 'Having smoked in the past means you have an increased risk of health issues. It\'s essential to continue avoiding smoking and maintain a healthy lifestyle.';
                        smokeColor = '#f44336';
                        break;
                    default:
                        smokeAdvice = 'Invalid smoking history information. Please ensure accurate data for better guidance.';
                        smokeColor = '#f44336';
                        break;
                }

                let bmiAdvice = '';
                let bmiColor = '#333';
                if (bmi < 18.5) {
                    bmiAdvice = 'You are underweight. Consider speaking to a nutritionist to create a balanced eating plan and ensure you are getting enough nutrients.';
                    bmiColor = '#FFD700';
                } else if (bmi >= 18.5 && bmi <= 24.9) {
                    bmiAdvice = 'Your weight is normal. Continue to maintain a balanced diet and stay active.';
                    bmiColor = '#4CAF50';
                } else if (bmi > 24.9 && bmi <= 29.9) {
                    bmiAdvice = 'You are overweight. Consider adopting healthier eating habits, increasing physical activity, and consulting a healthcare professional for personalized advice.';
                    bmiColor = '#FFA500'; 
                } else {
                    bmiAdvice = 'You are obese. It is important to make changes in your diet and exercise routine. Consider speaking to a healthcare professional for guidance on weight management.';
                    bmiColor = '#f44336'; 
                }

                let bloodSugarAdvice = '';
                let sugarColor = '#333';
                if (parseInt(bloodSugar) < 70) {
                    bloodSugarAdvice = 'Your blood sugar level is low. Consider having small, frequent meals and speak to a healthcare provider if you experience symptoms like dizziness or weakness.';
                    sugarColor = '#f44336';
                } else if (parseInt(bloodSugar) > 126) {
                    bloodSugarAdvice = 'Your blood sugar level is high. It is important to reduce sugar intake, exercise regularly, and consult with a doctor to manage your blood sugar.';
                    sugarColor = '#f44336';
                } else {
                    bloodSugarAdvice = 'Your blood sugar levels are within a normal range. Maintain a balanced diet and regular exercise to keep it in check.';
                    sugarColor = '#4CAF50';
                }

                let heartDiseaseAdvice = '';
                let heartDiseaseColor = '#333';
                if (heartDisease === 1) {
                    heartDiseaseAdvice = 'With a history of heart disease, regular checkups, a heart-healthy diet, staying active, and stress management are vital. Work with your doctor to monitor key health markers and keep your heart as healthy as possible.';
                    heartDiseaseColor = '#f44336';
                    document.getElementById('heartDiseaseSection').style.display = 'block';
                } else {
                    document.getElementById('heartDiseaseSection').style.display = 'none';
                }

                document.getElementById('bpAdvice').innerHTML = `<span style="color:${bpColor}">${bpAdvice}</span>`;
                document.getElementById('heartAdvice').innerHTML = `<span style="color:${heartDiseaseColor}">${heartDiseaseAdvice}</span>`;
                document.getElementById('smokeAdvice').innerHTML = `<span style="color:${smokeColor}">${smokeAdvice}</span>`;
                document.getElementById('bmiAdvice').innerHTML = `<span style="color:${bmiColor}">${bmiAdvice}</span>`;
                document.getElementById('bloodSugarAdvice').innerHTML = `<span style="color:${sugarColor}">${bloodSugarAdvice}</span>`;
        }

        function restartForm() {
            const resultsSection = document.getElementById('resultsSection');
            resultsSection.classList.add('fade-out');
            setTimeout(() => {
                window.location.reload();
            }, 800);
        }
    </script>
</body>
</html>
