# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.cpy
*.pyd

# Ignore virtual environment (if inside project)
venv/
.env/
.venv/
env/
ENV/

# Ignore Firebase key
firebase_key.json

# Ignore temporary files
*.log
*.tmp
.DS_Store
Thumbs.db

#Ignore IDE files
.vscode/
.idea/
*.swp

# Ignore logs and compiled files
logs/
*.log

# Ignore database files
*.sqlite3
*.db

# Ignore Firebase JSON credentials (VERY IMPORTANT)
config/firebase-adminsdk.json
