# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.cpy
*.pyd

# Ignore virtual environment (if inside project)
venv/

# Ignore Firebase key
firebase_key.json

# Ignore temporary files
*.log
*.tmp
.DS_Store

src/backend/app/__pycache__/__init__.cpython-313.pyc
src/backend/app/__pycache__/model.cpython-313.pyc
src/backend/app/__pycache__/routes.cpython-313.pyc
